#myModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow: auto;
    background-color: rgba(255, 255, 255, .8);
    z-index: 9999;
}


@media (max-width: 576px) {
    .modalcontent {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        min-height: 20vh;
        padding: 2em;
        background: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26), 0 6px 12px rgba(0, 0, 0, 0.26);
    }

    body.no-scroll {
        overflow: hidden;
    }
}

@media (min-width: 577px) {
    .modalcontent {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        min-height: 20vh;
        padding: 2em;
        background: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26), 0 6px 12px rgba(0, 0, 0, 0.26);
    }

    body.no-scroll {
        overflow: hidden;
    }
}

@media (min-width: 767.98px) {
    .modalcontent {
        position: absolute;
        top: 5%;
        left: 30%;
        width: 40%;
        min-height: 20vh;
        padding: 2em;
        background: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26), 0 6px 12px rgba(0, 0, 0, 0.26);
    }

    body.no-scroll {
        padding-right: 17px;
        overflow: hidden;
    }
}